# dependencies
node_modules/
.pnpm-store/

# next
.next/
out/
dist/
build/
coverage/
*.tsbuildinfo

# turbo
.turbo/

# env
.env
.env.*
!.env.example

# vercel
.vercel/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# os
.DS_Store
Thumbs.db

# desktop future
target/
src-tauri/target/


# AI
docs/HowToUse.md
docs/ProductContext.md
project-brain.json
plan-rules.json